A modern century—Bauhaus turns 100.jpg
a.out
coco.names
common.hpp
haarcascade_eye_tree_eyeglasses.xml
obj.names
object_detection.cpp
yolov2-tiny.cfg
yolov2-tiny.weights
.vscode/c_cpp_properties.json
.vscode/ipch/a8fd5ebbac27f328/main.ipch
.vscode/ipch/a8fd5ebbac27f328/mmap_address.bin
.vscode/ipch/d6ae1047a77e8cca/mmap_address.bin
.vscode/ipch/d6ae1047a77e8cca/object_detection.ipch
